.button {
  border: none;
  border-radius: 8px;
  padding: 8px 10px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: scale 0.3s ease, transform 0.3s ease;

  &:hover {
    scale: 1.05;
  }

  &:active {
    opacity: 0.8;
  }

  &.close {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;

    &:hover {
      transform: rotate(90deg);
      scale: 1;
      color: #48e;
    }
  }

  &.close-filter {
    background-color: transparent;

    &:hover {
      transform: rotate(90deg);
      scale: 1;
      color: #48e;
    }
  }

  &.delete {
    background-color: #f44;
    padding: 5px;
  }

  &.edit {
    background-color: #48e;
    padding: 5px;
  }

  &.add {
    background-color: #48e;
  }

  &.save {
    background-color: #4e8;
    padding: 5px;
  }
}

.header {
  position: sticky;
  top: 0;
  background-color: #444;
  padding: 10px;
  margin-bottom: 30px;
  z-index: 10;
}

.options-container {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.blur {
  background-color: #0004;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  place-items: center;
  z-index: 20;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}

.flex-row-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #333;

  &:focus-visible {
    outline: none;
  }
}

.edit-input {
  padding: 5px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid #999;
  background-color: #333;
}

.width-100 {
  width: 100px;
}

.width-110 {
  width: 110px;
}

.expense-filter-section {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  display: none;
  background-color: var(--color-dark-a);
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  border-radius: 8px;
}

.expense-filter-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-dark-color);
  align-items: center;
  padding-bottom: 10px;

  & h4 {
    font-size: 1.1em;
  }

  & .button {
    display: block;
  }
}

.expense-filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;

  & .filter {
    align-items: center;
    background-color: var(--color-dark-a);
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
  }
}

.expense-form {
  background-color: var(--color-dark-a);
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  gap: 10px;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}

.visible {
  display: flex;
}

.expense-charts {
  position: absolute;
  left: 0;
  right: 0;
  width: fit-content;
  border-radius: 10px;
  margin: 0 auto;
  display: none;
  background-color: var(--color-dark-a);
  flex-direction: column;
  padding: 10px;
  align-items: center;
  z-index: 100;

  & .total-amount {
    font-size: 1.1em;
    margin-top: 10px;
  }
}

.modal {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.3s ease, opacity 0.3s ease,
    display 0.3s ease allow-discrete;

  &.opened {
    opacity: 1;
    transform: translateY(0px);
    display: flex;
    transition: transform 0.3s ease, opacity 0.3s ease;

    @starting-style {
      opacity: 0;
      transform: translateY(30px);
    }
  }
}

.expenses-table {
  background-color: var(--color-dark-a);
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  color: #fff;

  & th {
    text-align: start;
  }

  & th:last-child {
    display: none;
  }

  & th,
  & td {
    padding: 5px;
  }

  & td {
    border-top: 2px solid var(--border-dark-color);

    & #category {
      border-radius: 7px;
      padding: 2px 5px;
    }
  }
}

.Housing {
  background-color: #48e7;
}
.Utilities {
  background-color: #4e87;
}
.Transportation {
  background-color: #4887;
}
.Groceries {
  background-color: #4ee7;
}
.Health {
  background-color: #84e7;
}
.Insurance {
  background-color: #8e47;
}
.Entertainment {
  background-color: #8ee7;
}
.Education {
  background-color: #8447;
}
.Shopping {
  background-color: #e487;
}
.Travel {
  background-color: #e847;
}
.Gifts {
  background-color: #e887;
}
.Saving {
  background-color: #e447;
}
.Investments {
  background-color: #a3e7;
}
.Miscellaneous {
  background-color: #6667;
}

.option-button-text {
  display: none;
}

.button[title='print'] {
  display: flex;
}

.button[title='show charts'] {
  display: flex;
}

@media screen and (min-width: 450px) {
  .expenses-table {
    & th,
    & td {
      padding: 10px;
    }
  }
}

@media screen and (min-width: 540px) {
  .option-button-text {
    display: block;
  }
}

@media screen and (min-width: 950px) {
  .options-container {
    & .button {
      display: none;

      &[title='print'] {
        display: flex;
      }

      &[title='show charts'] {
        display: flex;
      }
    }
  }

  .blur:has(.expense-filter-section) {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: static;
    background-color: transparent;
    backdrop-filter: none;
  }

  .expense-filter-section {
    display: flex;
    position: sticky;
    top: 85px;
    left: 0;
    opacity: 1;
    border-radius: 0 10px 10px 0;
    z-index: 1;
    transform: translateY(0px);
  }

  .expense-filter-header {
    & .button {
      display: none;
    }
  }

  .expense-charts {
    & .expense-filter-header .button {
      display: flex;
    }
  }

  .expenses-table {
    font-size: 1.1em;

    & th:last-child {
      display: flex;
    }
  }

  .provicional {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-content: start;
    max-width: 1800px;
    margin: 0 auto;
  }

  .width-padding-container {
    flex: 1;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .options-container {
    & .button[title='show charts'] {
      display: none;
    }
  }

  .blur:has(.expense-charts) {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: static;
    background-color: transparent;
    backdrop-filter: none;
  }

  .expense-charts {
    position: sticky;
    top: 85px;
    opacity: 1;
    display: flex;
    height: fit-content;
    border-radius: 10px 0 0 10px;
    transform: translateY(0px);
    z-index: 1;
  }
}

@media screen and (min-width: 1800px) {
  .expense-filter-section {
    border-radius: 10px;
  }

  .expense-charts {
    border-radius: 10px;
  }
}

@media print {
  .header {
    display: none;
  }

  .width-padding-container {
    flex: 1;
    margin: 0;
  }

  .provicional {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-content: start;
    gap: 20px;
    padding: 20px;
    padding-left: 0;
    max-width: 1300px;
    margin: 0 auto;
  }

  .expenses-table {
    font-size: 1.2em;

    & th:last-child,
    & td:last-child {
      display: none;
    }

    & th,
    & td {
      padding: 10px;
    }
  }

  .blur {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: static;
    background-color: transparent;
    backdrop-filter: none;
  }

  .expense-charts {
    position: static;
    opacity: 1;
    display: flex;
    height: fit-content;
    border-radius: 10px;
    transform: translateY(0px);
    z-index: 1;

    & button {
      display: none;
    }
  }
}
