:root {
  --bg-color-a: #eeeeef;
  --bg-color-b: #cccddf;
  --bg-color-c: #ddd;
  --text-color-a: #333;
  --text-color-b: #555;
  --border-color: #555;
  --outline-color: #48e;
  --transparent-color: #48e3;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  color-scheme: dark;
  background-color: #333;
  scrollbar-width: thin;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark {
  --bg-color-a: #111224;
  --bg-color-b: #333446;
  --bg-color-c: #2d3064;
  --text-color-a: #fff;
  --text-color-b: #eee;
  --border-color: #aaa;
  --transparent-color: #48e1;
  color-scheme: dark;
}

body {
  background-color: var(--bg-color-b);
  min-height: 100dvh;
  color-scheme: light;
}

.layout-container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  display: none;
  top: 0;
  left: 70px;
  position: absolute;
}

select,
input[type='date'] {
  cursor: pointer;
}

.width-padding-container {
  flex: 1;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .width-padding-container {
    padding: 0 10px;
  }

  .expenses-table {
    border-radius: 10px;
  }
}
